.App-header {
  margin: 140px 0 30px 0;
}

.App-header h1 {
  color: rgb(241, 194, 147);
  color: rgb(175, 128, 79);
  font-size: 70px;
  text-align: center;
}

.App-footer {
  color: #bb9679;
  color: rgb(231, 215, 194);
  text-align: center;
  margin: 0 0 30px 0;
}

.App-footer span {
  background-color: rgba(39, 39, 39, 0.6);
}

.App-footer a {
  text-decoration: none;
  color: rgb(231, 215, 194);
  color: #bb9679;
}

.App-footer a:hover {
  text-decoration: underline;
  color: rgb(231, 215, 194);
  color: rgb(187, 150, 121);
}
