.Dictionary h2 {
  color: rgb(225, 194, 154);
  font-size: 40px;
}

.Dictionary section {
  /*border: 1px solid #20212433;*/
  background-color: rgba(30, 30, 30, 0.63);
  border: 1px solid rgba(30, 30, 30, 0.725);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 950px;
}

@media (max-width: 420px) {
  .Dictionary {
    margin-top: 20px;
  }

  .Dictionary h2 {
    font-size: 32px;
  }

  .Dictionary section {
    padding: 10px;
  }
}

@media (max-width: 330px) {
  .Dictionary h2 {
    font-size: 28px;
  }
}
