.Phonetics li {
  line-height: 27px;
}

.phonetic-text {
  color: rgb(175, 128, 79);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  list-style: none;
}
button {
  all: unset;
}
.phonetic-audio-bttn {
  color: rgb(225, 194, 154);
}
.phonetic-audio-bttn:hover {
  color: rgba(231, 215, 194, 0.488);
}
@media (max-width: 420px) {
  .phonetic-text {
    font-size: 18px;
  }
}

@media (max-width: 330px) {
  .phonetic-text {
    font-size: 16px;
  }
  .Dictionary ol {
  }
}
