.Photos {
  margin-top: 50px;
}
.Photos section {
  background-color: rgba(30, 30, 30, 0.63);
  border: 1px solid rgba(30, 30, 30, 0.725);
  box-shadow: 0 3px 5px rgba(49, 25, 1, 0.669);
  border-radius: 3px;
  padding: 4px 15px;
  margin: 0 auto;
  max-width: 950px;
}

.Photos .col-4 {
  padding: 1px !important;
}
.Photos img {
  border-radius: 1px;
}

@media (max-width: 420px) {
  .Photos {
    margin-top: 20px;
  }
}
